.arena-post {
    width: 18rem;
    height: 18rem;
    display: flex;
    opacity: 28%;
    position: absolute;
    bottom: 38%;
    left: 60%;
    filter: blur(1.5px);
    overflow: hidden;
    border-radius: 10%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}