section.bear-blog {
  

    h2 {
      font-family: var(--sans-font);
      font-size: 1rem;
      font-weight: 200;
      text-align: center;
    }
  
    h3 {
      font-size: 1rem;
      font-style: italic;
    }
  
    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    p {
      margin: 0;
    }

    
    .date {
        text-align: right;
    }
  
    .dots {
      text-align: center;
      margin: 0.5rem 0;
    }

    li:last-child .dots {
        display: none;
    }

    a.special-link {
      margin-top: 3rem;
      border: 1px dashed var(--link);
      border-radius: 2rem;

      &:hover {
        border-color: var(--text);
      }
    }
  }