 header {
    width: 100%;
    max-width: 17rem;
    min-width: 17rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding:var(--global-vert-padding);
    background-color: var(--bg);

    @media only screen and (max-width: 1000px) {
      width: 100%;
      min-width: unset;
    }

    h1 {
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 5rem;
      font-weight: 200;

      span.navn {
        font-weight: 1000;
      }
    }

    nav.main-nav > ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      font-family: var(--mono-font);
      text-align: right;
      font-size: 0.875rem;
      margin-bottom: 5rem;
    }
  }