/* GLOBAL VARIABLES */
:root {
  /* COLOR PALETTE */
    --bg: #fff;
    --text: #1f1f1f;
    --gray: #978b8b;
    --link: #2919db;
    --yellow: #ffff00;
  
    /* TYPOGRAPHY */
    --garamond: "Cormorant Garamond", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
      "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --sans-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* MISCELLANEOUS */
    --global-vert-padding: 3rem 1.5rem;

}
    
/* MAIN WRAPPERS */
  * {
    box-sizing: border-box;
  }

  
  html {
    scroll-behavior: smooth;
    font-size: 1rem;
    color: var(--text);
    font-family: var(--garamond);

    @media only screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }

  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    max-width: 90rem;
    margin: 0 auto;
    gap: 15%;
    padding: 0 3rem;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 800px) {
      padding: 2rem 1.5rem;
      gap: 0.875rem;
    }

    @media only screen and (max-width: 450px) {
      padding: 2rem 1rem;
    }
  }

  main {
    display: flex;
    gap: 2%;

    &:last-child {
      flex: 1;
    }

    section.main-content {
      flex: 1.2;
      padding: var(--global-vert-padding);
      background-color: var(--bg);
    }
  }
    
/* BASE ELEMENTS */
  ul, ol {
    list-style: none;
    padding: unset;
    margin: unset;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    margin: unset;
    padding: unset;
  }

  a {
    color: var(--link);
    text-decoration: none;
    font-family: var(--mono-font);
    font-size: 0.8rem;
  }
  
/* CUSTOM CLASSES */
  span.super-text {
    font-size: 0.65rem;
    font-weight: normal;
    vertical-align: top;
    color: var(--gray);
    font-family:var(--mono-font);
  }

  hr.sep-by-dots {
    margin: 2.3rem 0;
    border-top: 1px dashed;
    color: var(--link);
  }

  a.special-link {
    display: flex;
    justify-self: center;
    margin-top: 1rem;

    &:hover {
      letter-spacing: 0.0875rem;
      text-transform: uppercase;
      font-family: var(--sans-font);
      font-style: italic;
      background-color: var(--yellow);
      padding: 0.35rem 2rem;
      color: var(--text);
    }
  }
