<link rel="stylesheet" href="/css/partials/bearblog.css">

<section class="bear-blog">
  <h2>lille snakke</h2>
  <ul>
    {% for post in bearblog %}
    <li>
        <p class="date">{{ post.date | date: "%d-%m-%Y" }}</p>
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
        <p class="dots">...</p>
    </li>
  {% endfor %}
  </ul>
  <a class="special-link" href="https://snakke.vaiva.space/">*~ *~ *~ mere snakke, tak ~* ~* ~*</a>
</section>