<link rel="stylesheet" href="/css/partials/header.css">

<h1><span class="navn">Vaiva</span> </br> Staug</br>aitytė <span class="super-text">(b. 2000, Kaunas, Lithuania)</span></h1>

<nav class="main-nav">
    <ul>
        <li><a href="/"><span class="right">home</span></a></li>
        <li><a href="/contact"><span class="left">contact</span></a></li>
        {# <li><a href="https://cv.vaiva.space/"><span class="up">projects</span></a></li> #}
        <li><a href="https://directory.vaiva.space/"><span class="left-v2">directory</span></a></li>
        <li><a href="/site-spirit"><span class="down">site-spirit</span></a></li>
    </ul>
</nav>