<link rel="stylesheet" href="/css/partials/topresent.css">

<section class="to-present">
    <ul>
        {% for post in topresent %}
              <li>
                 <p class="date">kamera den {{ post.date }}</p>
                 <div>{{ post.content | safe }}</div>
              </li>
          {% endfor %}
    </ul>
</section>
